/* Armas */
#caja2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem; 
    display: none;
}
#caja3{
    display: none;
}
#caja4{
    display: none;
}

#inputCaja{
    width: 100%;
    display: flex;
    justify-content: center;
}
img{
    height: 15rem;
    object-fit: contain;
    background: linear-gradient(0deg, rgb(255, 86, 86) 0%, rgb(148, 118, 118) 100%);
}
header{
    display: flex;
    justify-content: space-evenly;
}
@font-face {
    font-family: "letra";
    src: url(./contenido/654-font.otf);
}
#caja1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
    background-image: url(./contenido/fondoPrincipal.gif);
    background-position:0 -5rem ;
    background-size:cover;
    background-repeat: no-repeat;
    z-index: -5;

}
#titulo{
    background: none;
    width: 20rem;
    height: 7rem;
}
#botones{
    display: flex;
    justify-content: center;
    gap: 4em;
}
button{
    z-index: 10;
    background-color: #ff4655;
    width: 9em;
    height: 2.5em;
    color: white;
    border-style:  white;
    
}
#armas{
    border-radius: 0.5em;
    border: 1px  solid white;
    font-family: "letra";
    
}
#mapas{
    border-radius: 0.5em;
    border: 1px  solid white;
    font-family: "letra";
}
#agentes{
    border-radius: 0.5em;
    border: 1px  solid white;
    font-family: "letra";
}
#fondo{
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    overflow-x: hidden;
}
/* Agents */
.card2{
    position: absolute;
    border-radius: 1vw;
    top: 2vw;
    width: 100%;
    height: auto;
}
#caja4{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#search3{
    margin-top: 2vw;
    width: 30vw;
}

#caja4 img{
    height: 15rem;
    object-fit: contain;
    border-radius: 0.5vw;
    -webkit-box-shadow: 1px 2px 42px -13px rgba(0,0,0,1);
    -moz-box-shadow: 1px 2px 42px -13px rgba(0,0,0,1);
    box-shadow: 1px 2px 42px -13px rgba(0,0,0,1);
    background: linear-gradient(0deg, rgb(255, 86, 86) 0%, rgb(148, 118, 118) 100%);
}
.card-title1{
    position: absolute;
    top: 16.3vw;
    left: 0.5vw;
    color: white;
}
.card-title2{
    position: absolute;
    top: 15vw;
    left: 0.5vw;
    color: white;
}
.card-title11{
    position: absolute;
    top: 27vw;
    color: white;
}
.card-title22{
    position: absolute;
    top: 25vw;
    color: white;
}


/* Mapas */
#flexmaps{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#caja3{
    margin-top: 2rem;
    display: none;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.card{
    margin-top: 4em;
}
.card img{
    -webkit-box-shadow: 1px 2px 42px -13px rgba(0,0,0,1);
    -moz-box-shadow: 1px 2px 42px -13px rgba(0,0,0,1);
    box-shadow: 1px 2px 42px -13px rgba(0,0,0,1);
}
#flexmaps h4{
    position: absolute;
    top: 2rem;
    left: 1em;
    color: rgb(255, 255, 255);
}
#flexmaps h3{
    color: white;
    position: absolute;
    top: 6.5em;
    left: 0.5em;
}
