@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap&#39');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Oxanium', cursive;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oxanium';
}

body{
    background-image: url("/Dia9/images/fondo.jpg");
    margin: 5em;
}
.Container{
    margin: 0em auto;
    width: 20em;
}
.Content{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -28em;
}
.Content img{
    width: 7em;
    position: relative;
    left: 8em;
}
.Content h2{
    position: absolute;
    left: 7em;
    top: 6.5em;
    width: 10em;
}
.Content span{
    color: gray;
}
input{
    position: absolute;
    top: 20em;
    left: 3.5em;
    width: 22em;
    height: 3em;
    -webkit-box-shadow: -6px 5px 0px 0px rgb(93, 93, 93);
    -moz-box-shadow: -6px 5px 0px 0px rgba(93, 93, 93);
    box-shadow: -6px 5px 0px 0px rgba(93, 93, 93);
    border-radius: 0.5vw;
}
.Botones{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 22em;
    left: 1.5em;
    
}
button{
    background-color: #424242;
    color: white;
    margin-left: 3em;
    width: 8.5em;
    height: 3em;
    background-color: rgb(83, 81, 81);
    color: white;
    -webkit-box-shadow: -6px 5px 0px 0px rgb(25, 25, 25);
    -moz-box-shadow: -6px 5px 0px 0px rgba(25, 25, 25);
    box-shadow: -6px 5px 0px 0px rgba(25, 25, 25);
    border-radius: 0.5vw;
    cursor: pointer;
}