@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-size: 'Ubuntu';
}
.Gris{
    background-color: rgb(71, 71, 71);
    height: 50vh;
    width: 100vw;
    position: relative;
}
.Blanco{
    background-color: rgb(244, 242, 242);
    height: 60vh;
    width: 100vw;
    position: absolute;
    top: 50vh;
}
.Datos{
    background-color: white;
    width: 50vw;
    position: relative;
    margin: -12em auto;
}
.CajaDivision{
    width: 100%;
    height: 9em;
    background-color: #f9f9f9;
    border-bottom: 1px solid gray;
}
.ImagenCaja{
    margin: 0 auto;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    border: 1px solid black;
    position: relative;
    top: -6em;
}
.ImagenCaja img{
    border-radius: 50%;
    width: 9em;
    height: 9em;
    padding: 0.5em;
}
.CajaText{
    text-align: center;
    margin-top: -6em;
    line-height: 0.5em;
}
.CajaText p{
    color: gray;
}
.CajaText h1{
    font-size: clamp(1em, 3vw, 2rem);
}
.CajaVinculos{
    margin: 0 auto;
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Icono1{
    background-image: url(card_icons.png);
    height: 6em;
    width: 6em;
    background-position-y: 6em;
    transition: all 300ms ease;
    transform: scale(0.5);
}

.Icono2{
    background-image: url(card_icons.png);
    height: 6em;
    width: 6em;
    background-position-y: 6em;
    background-position-x: -8em;
    transition: all 300ms ease;
    transform: scale(0.5);
}

.Icono3{
    background-image: url(card_icons.png);
    height: 6em;
    width: 6em;
    background-position-y: 6em;
    background-position-x: -16em;
    transition: all 300ms ease;
    transform: scale(0.5);
}

.Icono4{
    background-image: url(card_icons.png);
    height: 6em;
    width: 6em;
    background-position-y: 6em;
    background-position-x: -24em;
    transition: all 300ms ease;
    transform: scale(0.5);
}

.Icono5{
    background-image: url(card_icons.png);
    height: 6em;
    width: 6em;
    background-position-y: 6em;
    background-position-x: -34em;
    transition: all 300ms ease;
    transform: scale(0.5);
}

.Icono6{
    background-image: url(card_icons.png);
    height: 6em;
    width: 6em;
    background-position-y: 6em;
    background-position-x: -42em;
    transition: all 300ms ease;
    transform: scale(0.5);
}
.Icono6:hover, .Icono5:hover, .Icono4:hover, .Icono3:hover, .Icono2:hover, .Icono1:hover{
    background-position-y: 0em;
}